parameters:
    level: max
    paths:
        - .
    excludes_analyse:
        - vendor
    ignoreErrors:
        # The DependencyInjection returns are very complex to deal with
        -
            message: '#.*NodeParentInterface\|null.*#'
            path: ./DependencyInjection/Configuration.php
    checkMissingIterableValueType: false
